<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAOxzVoZyPUEeiDWXGzis+/QQAAAACAAAAAAAQZgAAAAEAACAAAADyoWEvHI5oIGPSpupz44LrGDlYmNtpibNMMA4W3kwYdQAAAAAOgAAAAAIAACAAAACLmYyTUhFYUyC65N07s22OWmimImvEgfPESv4CFu89tTAAAABdyDaTIEbnskAeXVMQYAAxP7H1V0Jra+n4yjRGJYABCYgc0T/H7/KEYtZTEDzOblxAAAAAnyjCNB5r1qb1OuPxqPQvPzVMZPBuFxMIpP1C0gqtnJqBNCoym4+//0ETshBZd3lU2scoKlFBNP+B62pjHCVmJw==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>